<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container mt-5">
    <h2><%= blog.content %> </h2>

    <p class="mt-5">~<em><%= blog.title %></em> </p>
</div>

<%- include("./partials/footer") %>